ul {
	padding: 0;
	list-style: none;
}
.nav_logo {
	margin-left: auto;
	margin-right: auto
}
.nav {
	display: flex;
	height: 46px;
	align-items: center;
	padding: 10px 10px;
	border: 1px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
}
.nav li {
	cursor: pointer;
}
.nav a {
	text-decoration: none;
	color: rgba(117,117,117 ,1);
}
.nav li:hover {
	color: rgba(85,172,238 ,1);
}
.nav_logo {
	color: rgba(85,172,238 ,1);
	font-size: 1.3em;
}
.nav li:not(:last-child):not(.nav_logo) {
	margin-right: 30px;
}
.nav li  i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
	margin-right: 3px;
}
.nav li > button {
	font-size: 0.8em;
	border: 0;
	background: rgba(85,172,238 ,1);
	color: #fff;
	border-radius: 100px;
}
@media screen and (max-width: 700px) {
    nav {   
        flex-direction: column;
    }
}

.nav_account ul{
	position: absolute;
	display: flex;
	align-items: center;
	padding: 10px 10px;
	border: 1px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
	flex-direction: column;
	opacity: 0;
	background-color: #fff;
	margin-top: 10px;
	margin-left: -48px;
}
.nav_account ul li{
	margin-right: auto;
	width: 100px;
}
 
.nav_account:hover ul{
	opacity: 1;
	height: auto;
 }
.nav_account ul li a{
	padding: 5px;
	display: block;
 }
.ani{
	-webkit-transition: 0.4s ease-in;
	-moz-transition: 0.4s ease-in;
	-o-transition: 0.4s ease-in;
	transition: 0.4s ease-in;
}