ul {
	padding: 0;
	list-style: none;
}

.nav {
	display: grid;
	grid-template: 1fr / min-content min-content auto min-content min-content;
	align-items: center;
	padding: 10px 10px;
	border: 1px solid #eeeeee;
	color: #757575;
	background-color: white;
	margin: 0px;
}

.nav li {
	text-align: center;
	cursor: pointer;
	padding: 10px;
	min-width: 120px;
}

.nav li a {
	text-align: center;
	text-decoration: none;
	color: #757575;
}

.nav li:hover {
	color: #55acee;
}

.nav li>button {
	font-size: 0.8em;
	border: 0;
	background: #55acee;
	color: #fff;
	border-radius: 100px;
}

.nav_logo {
	color: #55acee;
	font-size: 1.3em;
}

@media screen and (max-width: 717px) {
	.nav li {
		min-width: 50px;
	}
	.nav_logo {
		display: none;
	}
	.nav_spacing {
		display: none;
	}
	.nav {
		grid-template: 1fr / 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 600px) {
	.nav-text {
		display: none;
	}
	.nav li {
		min-width: 50px;
	}
	.nav li i {
		font-size: 20px;
	}
	.nav_logo {
		display: none;
	}
	.nav_spacing {
		display: none;
	}
	.nav {
		grid-template: 1fr / 1fr 1fr 1fr;
	}
}

.nav_account ul {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 10px 10px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	color: #757575;
	box-shadow: 5px 10px 20px -20px #55acee;
	flex-direction: column;
	opacity: 0;
	background-color: #fff;
	margin-top: 10px;
	margin-left: -48px;
	width: 168px;
}

.nav_account ul ul li {
	margin-right: auto;
	width: 100px;
}

.nav_account ul:hover {
	opacity: 1;
	height: auto;
}

.nav_account ul ul li a {
	padding: 5px;
	display: block;
}

.ani {
	-webkit-transition: 0.4s ease-in;
	-moz-transition: 0.4s ease-in;
	-o-transition: 0.4s ease-in;
	transition: 0.4s ease-in;
}