version: '3'

services:
  web:
    image: rizkyario/42-camagru
    environment:
      - ALLOW_OVERRIDE=true
    ports:
      - "80:80"
    links:
      - db
    volumes:
      - .:/var/www/html/
    environment:
      XDEBUG_CONFIG: remote_host=10.11.2.8

  db:
    image: mysql:5.5.59
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
  #docker-compose up