version: '3.1'

services:
  web:
    build: .
    environment:
      - ALLOW_OVERRIDE=true
    ports:
      - "10.0.0.6:80:80"
    links:
      - db
    volumes:
      - .:/var/www/html/

  db:
    image: mysql:5.5.59
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
  #docker-compose up