<header>
	<ul class="nav">
		<li>
			<a href="/">
				<i class="fa fa-home"></i>
				<span class="nav-text">Home</span>
			</a>
		</li>
		<li>
			<a href="/photos/{{session.user.id}}">
				<i class="fa fa-image"></i>
				<span class="nav-text">Gallery</span>
			</a>
		</li>
		<li class="nav_logo">Camagru</li>
		<li>
			<a href="/camera">
				<i class="fa fa-camera"></i>
				<span class="nav-text">Camera</span>
			</a>
		</li>
		<li class="nav_account">
			<span><i class="fa fa-user-circle-o"></i>
				<span class="nav-text">Account</span>
			</span>
			<ul class="ani">
				<li><a href="/account/login">Login</a></li>
				<li><a href="/account/register">Register</a></li>
			</ul>
		</li>
	</ul>
</header>