<script>

var domElement = function(selector) {
	this.selector = selector || null;
	this.element = null;
};

domElement.prototype.init = function() {
	switch (this.selector[0]) {
	case '<':
		var matches = this.selector.match(/<([\w-]*)>/);
			if (matches === null || matches === undefined) {
			throw 'Invalid Selector / Node';
			return false;
		}
		var nodeName = matches[0].replace('<', '').replace('>', '');
		this.element = document.createElement(nodeName);
		break;
	default:
		this.element = document.querySelector(this.selector);
	}
};

$ = function(selector) {
	var el = new domElement(selector);
	el.init();
	return el.element;
}

</script>