<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Camagru</title>
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/main.css">	
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/photo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	{#SCRIPT}
</head>
<body class="wrapper">
	{#INCLUDE:templates/_nav}
	<main>
	{#BODY}
	</main>
	{#INCLUDE:templates/_footer}
</body>
</html>