<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Camagru</title>
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/main.css">	
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{#SCRIPT}
</head>
<body class="wrapper">
	{#INCLUDE:templates/_nav}
	<main>
	{#BODY}
	</main>
	{#INCLUDE:templates/_footer}
</body>
</html>