<script>

var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

function addSticker(sticker) {
	var img = sticker.firstElementChild;
	img = img.cloneNode(true);
	img.classList.add('draggable');
	img.onmousedown = dragMouseDown;
	$('#overlay').appendChild(img);
}

function loadImage(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();		
		reader.onload = function (e) {
			$('#img').setAttribute('src', e.target.result);
			imgMode();
		}
		reader.readAsDataURL(input.files[0]);
	}
}

function cancelImage() {
	$('#img').classList.add('hidden');
	$('#img-cancel').classList.add('hidden');
	$('#img-save').classList.add('hidden');
	$('#img-capture').classList.remove('hidden');
	$('#camera').classList.remove('hidden');
	$('#camera_form').reset();
	cam.div.play();
}

function loadUrl() {
	var url = prompt("Add link of image online?", '');
	if (url !== '' && url !== null) {
		$('#camera_form').reset();
		$('#img').setAttribute('src', url);
		imgMode();
	}
}

function dragMouseDown(e) {
	e = e || window.event;
	pos3 = e.clientX;
	pos4 = e.clientY;
	img = this.cloneNode(true);
	img.classList.add('draggable');
	img.onmousedown = dragMouseDown;
	$('#overlay').appendChild(img);
	this.parentNode.removeChild(this);
	document.onmouseup = function(){closeDragElement()}
	document.onmousemove = function(){elementDrag(event, img);}
}

function elementDrag(e, element) {
	e = e || window.event;
	pos1 = pos3 - e.clientX;
	pos2 = pos4 - e.clientY;
	pos3 = e.clientX;
	pos4 = e.clientY;
	element.style.bottom = parseInt(element.style.bottom, 10) + pos2 + "px";
	element.style.left = parseInt(element.style.left, 10) - pos1 + "px";
}

function closeDragElement() {
	document.onmouseup = null;
	document.onmousemove = null;
}

</script>