<style>
	.stickers {
		display: flex;
		align-items: flex-start;
		width: 100%;
		min-width: 100%;
		overflow-x: auto;
	}

	.sticker {
		padding: 5px;
		margin: 5px;
		border: 1px solid #eeeeee;
		color: #757575;
		background-color: white;
		grid-gap: 0.5em;
		margin: 5px;
	}

	.sticker img {
		width: 100px;
		height: 100px;
	}

	#canvas {
		position: relative;
		overflow: hidden;
		width: 350px;
		height: 350px;
	}

	.camera {
		width: 350px;
		height: 350px;
		background: #c4c1c1;
		margin: 0px;
	}

	.draggable {
		position: absolute;
	}

	/* Flex Style */

	.stackLayout {
		display: flex;
	}

	.flow-horizontal {
		flex-flow: row;
	}

	.flow-vertical {
		flex-flow: column;
	}

	.horizontal-option-end {
		justify-content: flex-end;
	}
</style>