<div class="photo">
	<a href="/account/{{photo.user_username}}">
		<i class="fas fa-user-circle"></i>
		<span class="user">{{photo.user_username}}</span>
	</a>
	<a href="/photos/{{photo.id}}">
		<div><img src="{{photo.url}}"></div>
	</a>
	<div>
		<a href="/photos/like/{{photo.id}}">
			<i class="{{photo.like_logo}} fa-heart"></i>
		</a>
		<i onclick="focusComment('comment_text_{{photo.id}}')" class="far fa-comment"></i>
	</div>
	<span class="{{photo.likes_v}}">{{photo.likes}}</span>
	{%IFN comments}
		<div class="{{photo.description_v}}" id="comment_{{photo.description_id}}">
				<a href="/account/{{photo.description_username}}">
					<span class="user">{{photo.description_username}}</span>
				</a>
				<span style="width: 96%;">{{photo.description_message}}</span>
				<div
					onclick="deleteComment('{{photo.description_id}}')"  
					class="{{photo.description_delete_v}}" style="float: right; opacity: 0.3;">
					<i class="fa fa-times"></i>
				</div>
		</div>
		<div class="{{photo.comment_more_v}}">
			<a href="/photos/{{photo.id}}">
				<span class="time_text">view all {{photo.comment_count}} comments</span>
			</a>
		</div>
		<div class="{{photo.comment_v}}" id="comment_{{photo.comment_id}}">
			<a href="/account/{{photo.comment_username}}">
				<span class="user">{{photo.comment_username}}</span>
			</a>
			<span style="width: 96%;">{{photo.comment_message}}</span>
			<div
				onclick="deleteComment('{{photo.comment_id}}')"   
				class="{{photo.comment_delete_v}}" style="float: right; opacity: 0.3;">
				<i class="fa fa-times"></i>
			</div>
		</div>
	{%END}
	{%IF comments}
		{*FOR comments AS comment}
			{#INCLUDE:photos/_comment}
		{*END}
	{%END}
	<div>
		<a href="/photos/{{photo.id}}">	
			<span class="time_text">{{photo.time_elapse}}</span>
		</a>
		<hr>
	</div>
	<div>
		<input
			onkeypress="insertComment(event, '{{session.user.username}}', '{{photo.id}}')" 
			id="comment_text_{{photo.id}}" placeholder="Add a comment..." class="comment_text"></input>
		<i class="fa fa-ellipsis-v" style="float: right;" onclick="showMenu('{{photo.owned}}', '{{photo.id}}')"></i>
	</div>
</div>