<div class="photo">
	<a href="/account/{{photo.user_username}}">
		<i class="fas fa-user-circle"></i>
		<span class="user">{{photo.user_username}}</span>
	</a>
	<a href="/photos/{{photo.id}}">
		<div><img src="{{photo.url}}"></div>
	</a>
	<div>
		<i class="far fa-heart"></i>
		<i onclick="focusComment('comment_text_{{photo.id}}')" class="far fa-comment"></i>
	</div>
	<span class="{{photo.likes_v}}">{{photo.likes}} likes</span>
	<div class="{{photo.description_v}}">
		<a href="/account/{{photo.user_username}}">
			<span class="user">{{photo.user_username}}</span>
		</a>
		<span>{{photo.description}}</span>
	</div>
	{%IFN comments}
		<div class="{{photo.comment_more_v}}">
			<a href="/photos/{{photo.id}}">
				<span class="time_text">view all {{photo.comment_count}} comments</span>
			</a>
		</div>
		<div class="{{photo.comment_preview_v}}">
			<a href="/account/{{photo.comment_preview_username}}">
				<span class="user">{{photo.comment_preview_username}}</span>
			</a>
			<span>{{photo.comment_preview_message}}</span>
		</div>
	{%END}
	{%IF comments}
		{*FOR comments AS comment}
			{#INCLUDE:photos/_comment}
		{*END}
	{%END}
	<div>
		<span class="time_text">{{photo.time_elapse}}</span>
		<hr>
	</div>
	<div>
		<textarea id="comment_text_{{photo.id}}" placeholder="Add a comment..." class="comment_text" rows="1"></textarea>
		<i class="fa fa-ellipsis-v" style="float: right;"></i>
	</div>
</div>