<script>
	function deletePhoto(id) {
		var xhr = new XMLHttpRequest();
		var photo = document.getElementById('photo_' + id);
	
		if (confirm("Do you really want to delete this photo?"))
		{
			xhr.open('POST', '/photo/delete');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200)
				{
					photo.parentNode.removeChild(photo);
					if (document.getElementsByClassName('photos')[0].innerHTML.trim() === "")
						window.location.href = '/';
				}
				else
					alert('Request failed.  Returned status of ' + xhr.status);
			};
			xhr.send(encodeURI('photo=' + id));
		}
	}

	function focusComment(id) {
		var commentObj = document.getElementById(id)
		commentObj.focus();
		return false;
	}

	function deleteComment(id) {
		var xhr = new XMLHttpRequest();
		var comment = document.getElementById('comment_' + id);
	
		if (confirm("Do you really want to delete this comment?"))
		{
			xhr.open('POST', '/comments/delete');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200)
					comment.parentNode.removeChild(comment);
				else
					alert('Request failed.  Returned status of ' + xhr.status);
			};
			xhr.send(encodeURI('comment=' + id));
		}
	}

	function insertComment(event, user, photo) {
		var xhr = new XMLHttpRequest();
		var comment = document.getElementById('comment_text_' + photo);
	
		if (event.keyCode == 13)
		{
			xhr.open('POST', '/comments/insert');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200)
				{
					comment.value = '';
					window.location.href = '/photos/' + photo;
				}
				else
					alert('Request failed.  Returned status of ' + xhr.status);
			};
			xhr.send(encodeURI('user=' + user + '&photo=' + photo + '&comment=' + comment.value));
		}
	}

	function showMenu(visibility, photo) {
		var x = document.getElementsByClassName('menu')[0];
		x.style.display = 'block';
		var footer = document.getElementsByTagName('footer')[0];
		footer.style.display = 'none';
		var body = document.getElementsByTagName('body')[0];
    	body.classList.add('stop-scrolling');
		var menuDelete = document.getElementById('menuDelete');
		if (visibility == 'show')
			menuDelete.style.display = 'block';
		else
			menuDelete.style.display = 'none';
		var delete_photo_btn = document.getElementById('delete_photo_btn');
		delete_photo_btn.addEventListener("click", 
			function me() {
				closeMenu();
				deletePhoto(photo);
				delete_photo_btn.removeEventListener("click", me, false);
			});
	}

	function closeMenu() {
		var x = document.getElementsByClassName('menu')[0];
		x.style.display = 'none';
		var body = document.getElementsByTagName('body')[0];
    	body.classList.remove('stop-scrolling');
		var footer = document.getElementsByTagName('footer')[0];
		footer.style.display = 'block';		
	}
</script>