<script>
	function deletePhoto(id) {
		var xhr = new XMLHttpRequest();
		var photo = $('#photo_' + id);
	
		if (confirm('Do you really want to delete this photo?'))
		{
			xhr.open('POST', '/photo/delete');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200)
				{
					photo.parentNode.removeChild(photo);
					if ($('.photos')[0] == null || $('.photos')[0].innerHTML.trim() === '')
						window.location.href = '/';
				}
				else
					window.location.href = '/account/login';
			};
			xhr.send(encodeURI('photo=' + id));
		}
	}

	function sharePhoto(id) {
		host = 'http://twitter.com/share?';
		url = '&url=http://localhost/photos/' + id;
		text = 'text=Check this photo!';
		hashtag = '&hashtags=camagru,photo,sharing';
		window.open(
			host+text+url+hashtag,
			'_blank'
		);
	}

	function focusComment(id) {
		var commentObj = $('#' + id)
		commentObj.focus();
		return false;
	}

	function deleteComment(id) {
		var xhr = new XMLHttpRequest();
		var comment = $('#comment_' + id);
	
		if (confirm('Do you really want to delete this comment?'))
		{
			xhr.open('POST', '/comments/delete');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200)
					comment.parentNode.removeChild(comment);
				else
					window.location.href = '/account/login';
			};
			xhr.send(encodeURI('comment=' + id));
		}
	}

	function insertComment(event, user, photo) {
		var xhr = new XMLHttpRequest();
		var comment = $('#comment_text_' + photo);
	
		if (event.keyCode == 13)
		{
			var loading_gif =  $('#comment_loading_' + photo);
			loading_gif.classList.remove('hidden');
			var comment_menu =  $('#comment_menu_' + photo);
			comment_menu.classList.add('hidden');
			comment.disabled = true;
			xhr.open('POST', '/comments/insert');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200)
				{
					comment.value = '';
					window.location.href = '/photos/' + photo;
				}
				else
					window.location.href = '/account/login';
				comment.disabled = false;
				loading_gif.classList.add('hidden');
				comment_menu.classList.remove('hidden');
			};
			xhr.send(encodeURI('user=' + user + '&photo=' + photo + '&comment=' + comment.value));
		}
	}

	function showMenu(visibility, photo) {
		var x = $('.menu')[0];
		x.style.display = 'block';
		var footer = document.getElementsByTagName('footer')[0];
		footer.style.display = 'none';
		var body = $('body')[0];
    	body.classList.add('.stop-scrolling');
		var menuDelete = $('#menuDelete');
		if (visibility == 'show')
			menuDelete.style.display = 'block';
		else
			menuDelete.style.display = 'none';
		var delete_photo_btn = $('#delete_photo_btn');
		delete_photo_btn.addEventListener('click', 
			function me() {
				closeMenu();
				deletePhoto(photo);
				delete_photo_btn.removeEventListener('click', me, false);
			});
		var share_photo_btn = $('#share_photo_btn');
		share_photo_btn.addEventListener('click', 
			function me() {
				closeMenu();
				sharePhoto(photo);
				share_photo_btn.removeEventListener('click', me, false);
			});
	}

	function closeMenu() {
		var x = $('.menu')[0];
		x.style.display = 'none';
		var body = $('body')[0];
    	body.classList.remove('stop-scrolling');
		var footer = document.getElementsByTagName('footer')[0];
		footer.style.display = 'block';		
	}

	function loadPhotos(username) {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function()
		{
			if (this.readyState == 4 && this.status == 200)
			{
				var loading_text = $('.loading_text')[0];
				loading_text.classList.add('hidden');
				var loading_gif = $('.loading_gif')[0];
				loading_gif.classList.remove('hidden');
				var delayInMilliseconds = 1000;
				var responseHTML = this.responseText;
				var photoHTML = responseHTML.match(/<div class="photos">([\s\S]+)<\/div class="photos">/);
				var moreHTML = responseHTML.match(/<div class="more_photos([\s\S]+)<\/div>/);
				setTimeout(function() {
					var more = $('.more_photos')[0];
					more.parentNode.removeChild(more);
					$('.photos')[0].innerHTML += photoHTML[1];
					$('main')[0].innerHTML += moreHTML[0];
				}, delayInMilliseconds);
			}
		};
		offset = $('.photos')[0].children.length;
		xhr.open('GET', '/api/photos?offset=' + offset + '&username=' + username, true);
		xhr.send();
	}
</script>