{TEMPLATE}templates/layout{END}
{#SCRIPT}{#END}
{#BODY}
<div class="photos">
	{%IFN photos}
	<h5>No Photo</h5>
	{%END}
	{*FOR photos AS s}
	<div class="photo">
		<a href="/account/{{s.user_id}}">
			<i class="fas fa-user-circle"></i>
			<span class="user">{{s.user_username}}</span>
		</a>
		<a href="/photos/{{s.id}}">
			<div><img src="{{s.url}}"></div>
		</a>
		<div>
			<i class="far fa-heart"></i>
			<i class="far fa-comment"></i>
		</div>
		<span>{{s.likes}} likes</span>
		<div class="{{s.description_v}}">
			<a href="/account/{{s.user_id}}">
				<span class="user">{{s.user_username}}</span>
			</a>
			<span>{{s.description}}</span>
		</div>
		<span>{{s.time_elapse}}</span>
		<span>Add a comment...</span>
	</div>
	{*END}
</div>
{#END}