{TEMPLATE}templates/layout{END}
{#SCRIPT}{#END}
{#BODY}
<div class="forms">
	<h1>Login</h1>
	<form action='/account/login' method='POST'>
		<input type='text' name='username' placeholder='Username' value='{{post.username}}'>
		<hr>
		<input type='password' name='password' placeholder='Password' value=''>
		<hr>
		<button type='submit'>Login</button>
		<a href='/account/register'>Forgot password?</a>
		<div>Don't have an account? <a href='/account/register'>Sign Up</a></div>
	</form>
</div>
{#END}