{TEMPLATE}templates/layout{END}
{#SCRIPT}{#END}
{#BODY}
<div>
	<h1>Login</h1>
	<form action="/account/login" method="POST">
		<input type="text" name="username" placeholder="Username" value="{{post.username}}">
		<hr>
		<input type="password" name="password" placeholder="Password" value="">
		<hr>
		<button type="submit" class="btn btn-default">Login</button>
		<input type="hidden" name="from" value="login">
		<input type="hidden" name="success" value="index">
		<p>Have not registered? <a href="/account/register">Register here</a></p>
	</form>
</div>
{#END}