{TEMPLATE}templates/layout{END}
{#SCRIPT}{#END}
{#BODY}
<div class="forms">
	<h1>Registration</h1>
	<form action='/account/register' method='POST'>
		<input type='text' name='username' placeholder='Username' value='{{post.username}}'>
		<hr>
		<input type='password' name='password' placeholder='Password'>
		<hr>
		<input type='password' name='password2' placeholder='Retype Password'>
		<hr>
		<input type='email' name='email' placeholder='Email' value='{{post.email}}'>
		<hr>
		<input type='text' name='name' placeholder='Name' value='{{post.name}}'>
		<hr>
		<button type='submit'>Sign Up</button>
		<input type='hidden' name='from' value='register'>
		<input type='hidden' name='success' value='login'>
		<p>Have an account? <a href='/account/login'>Log in</a></p>
		{#INCLUDE:account/_errors}
	</form>
</div>
{#END}